*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
:root{
    --background: #0e0d0d;
    --second-background: #181718;
    
}
html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px;
}
body{
    min-height: 100vh;
    background-color: var(--background);
}
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(31, 30, 30, 0.8);
    backdrop-filter: blur(20px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: 3em;

}
nav ul a{
    color: rgb(255, 255, 255);
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}
nav ul a:hover{
opacity: 1; 
color: rgb(133, 49, 178);
}
.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity: 1;
    color:rgba(155, 45, 250, 0.8) ;
}
.btn{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;  
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: white;
    color: var(--background);
}
span{
    background: linear-gradient(to right, rgb(165, 62, 249), rgb(84, 131, 225));
    background-clip: text;
    color: transparent;
}
#menu{
    color: white;
    font-size: 3em;
    display: none;
}
section {
    min-height: 100vh;
    padding: 5% 15%;
}
#Home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 2em;
    color: white;
}
#Home img{
    max-width: 70vw;
    border-radius: 80%;
    margin-top: 80px;
    object-fit: cover;
    width: 220px;
    height: 220px;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 1200px;
    width: 80%;
}
.info-box h1{
    font-size: clamp(2.5rem, 4vw, 5rem);
    font-weight: 500;
    max-width: 1200px;
}
.info-box h3{
    font-size: 1.3em;
    font-weight: 400;
    color: white;
}
.info-box p{
    opacity: 0.7;
    color: white;
}
.btn-box{
    display: flex;
    gap: 1em;
    
}
.btn-box .btn:nth-of-type(2){
    background-color: white;
    color: var(--background);
}
.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
}

::-webkit-scrollbar{
    width: 20px;
    background-color: var(--background);
}
::-webkit-scrollbar{
    background: linear-gradient(to bottom, #953784, #4699bf);
}
#About{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
.About-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
}
.About-box h1{
    font-size: 4em;
}
.About-box p{
    color: white;
    opacity: 0.8;
}
.Skills{
    display: grid;
    text-align: center;
    gap: 10em;
}
.Skills ul{
    font-size: 1.3em;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 4em;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    align-items: baseline;
}
.Skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
}
.Skills ul li span:hover{
    transform:translateX(10px);
}
.Skills ul li i{
    font-size: 1.2em;
}
.About-box h2{
    font-size: 2.5em;
}
#Projects{
    background-color: var(--background);
}
.header{
    text-align: center;
    font-size: 4em;
    margin: 0.5em 0;
}
.Projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}
.box{
    border: 3px solid rgb(49, 49, 49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.box:hover{
    border: 3px solid rgb(100, 100, 100);
}
.box p{
    opacity: 0.8;
}
.box h1{
    font-size: 2em;
}
.box img{
    min-width: 25px;
    border-radius: 0.5em;
}

#Contact{
    background-color: var(--second-background);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}
.info-box span{
    font-size: 1.5em;
}
form input{
    width: 100%;
    max-width: 400px;
    padding: 1em;
}
form input:focus{
    background: rgb(229,229,229);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: var(--background);
    width: 100%;
    padding: 5em 15%;
}
.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-box{
    display: flex;
    align-items: center;
    gap: 1em;
}
.col-box i{
    font-size: 2em;
}
.col-box span{
    font-size: 1.2em;
}

.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    max-width: 500px;
}
.col-right span{
    font-size: 1.3em;
}
.col-right .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 1em;
}
.col-right .social-icons i{
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.social-icons i:hover{
    color: white;
}

@media(max-width:968px){
    nav {
    gap: 1rem;
    }
    .logo{
    z-index: 1100;
    }
    section{
        padding: 8em 15%;
    }
    nav .btn{
        display: none;
    }
    #menu{
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 1100;
    }
    .links{
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.95);
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    }
    .links.active{
    display: flex;
    }
    .links.active{
    display: flex;
    }

    #Home h1{
    font-size:2.5rem;
    }
    #Home h3{
    font-size:1.2rem;
    }
    #Home img{
    width: 220px;
    height: 220px;
    max-width: 70vw;
    object-fit: cover;
    }
    #About .Skills{
        gap: 3em;
    }
    #Projects .header{
        font-size: 3em;
    }
    #Contact .header{
        font-size: 3em;
    }
    #Contact .input-box span{
        font-size: 1.2em;
    }
    .input-box input{
        padding: 0.5em 1em;
    }
    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }
}
@media(max-width:768px){
    .Skills ul{
    grid-template-columns: 1fr;
    gap: 1rem;
    }
    .box{
        padding: 1.5em;
    }
     section{
        padding: 6em 8%;
    }
    footer{
        padding: 3em 8%;
    }

    .col-box{
        flex-wrap: wrap;
    }

    .col-box span{
        font-size: 1rem;
    }
}